:root {
	--bg-primary: #000000;
	--bg-secondary: #0e0e0e;
	--border: #252525;
	--fg-primary: #ffffff;
	--fg-secondary: #3e3f3f;
	--input-invalid: #ff6363;
	--input-placeholder: #888888;
	--input-radio: #376fc8;
	--input-valid: #4cff4c;
	--react-bg: #141825;
	--react-border: #394956;
	--react-fg: #9747ff;
}