:root {
	--bg-primary: #252525;
	--bg-quaternary: #141414;
	--bg-quinternary: #212121;
	--bg-secondary: #1f1f1f;
	--bg-ternary: #3d3d3d;
	--border: #3e3f3f;
	--fg-primary: #ffffff;
	--fg-secondary: #5b7083;
	--input-invalid: #ff6363;
	--input-invalid-bg: rgba(255, 99, 99, 0.5);
	--input-placeholder: #888888;
	--input-radio: #3e8bff;
	--input-valid: #4cff4c;
	--react-bg: #1a1f30;
	--react-border: #5b7083;
	--react-fg: #b67eec;
}
