:root {
	--bg-primary: #ffffff;
	--bg-quaternary: #ededed;
	--bg-secondary: #f5f5f5;
	--bg-ternary: #dcdcdc;
	--border: #e1e1e1;
	--fg-primary: #000000;
	--fg-secondary: #869595;
	--input-invalid: #ff5555;
	--input-placeholder: #959799;
	--input-radio: #3e8bff;
	--input-valid: #4cff4c;
	--react-bg: #8996c8;
	--react-border: #3d5362;
	--react-fg: #9747ff;
}
