.post-container {
	padding: 0;
}

.comments {
	display: flex;
	flex-flow: column;
}

.comment-container {
	border-bottom: 1px solid var(--border);
	display: flex;
	gap: 1rem;
	padding: 1.25rem 0 .75rem;
}

.comment-main {
	display: flex;
	flex-direction: column;
	gap: .4rem;
	width: 100%;
}

.comment-content {
	margin: 0 0 .2rem;
	max-width: 85%;
	word-wrap: break-word;
}

.comment-avatar img {
	--size: 48px;
	border-radius: 100vmax;
	height: var(--size);
	object-fit: contain;
	width: var(--size);
}

.comment-info {
	align-items: center;
	display: flex;
	gap: 8px;
	height: fit-content;
	justify-content: left;
	text-align: center;
}

.comment-info > *:not(:nth-child(5)) {
	margin: 0;
}

.comment-display-name {
	font-weight: 700;
}

.comment-username {
	color: var(--fg-secondary);
}

.comment-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 35rem;
}

.comment-footer > div {
	align-items: center;
	color: var(--fg-secondary);
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.comment-reply {
	display: flex;
	gap: .5rem;
	margin-bottom: .3rem;
}

.comment-reply p {
	margin: 0;
}

.comment-reply-author {
	color: var(--accent-color);
}

.comment-reply-content {
	max-width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.comment-vote.active {
	color: var(--accent-color);
}

.comment-vote.active > .material-symbols-outlined {
	color: var(--accent-color);
}

.create-comment {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.user-avatar > img {
	--size: 3rem;
	border-radius: 100vmax;
	height: var(--size);
	object-fit: contain;
	width: var(--size);
}

.comment-chat-area {
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	color: var(--input-placeholder);
	margin-bottom: 16px;
	max-height: 98px;
	min-height: 98px;
	overflow: hidden;
	resize: none;
	transition: color .3s;
	width: 100%;
}

.comment-chat-area:focus {
	color: var(--fg-primary);
	outline: none !important;
}

.comment-chat-btn {
	align-self: flex-end;
	background: var(--gradient-v);
	background-repeat: no-repeat;
	border: none;
	border-radius: 2rem;
	color: var(--bg-secondary);
	cursor: pointer;
	font-weight: 700;
	padding: .5rem 1rem;
	transition: all .3s ease-in-out;
}

.comment-chat-btn:disabled {
	cursor: not-allowed;
	opacity: 50%;
}

.comment-chat-btn:hover:not(:disabled) {
	color: var(--fg-primary);
	transform: scale(1.05);
}

.comment-chat-container {
	background: var(--bg-primary);
	border-bottom: 1px solid var(--border);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	gap: 12px;
	padding: 1rem;
}

.create-comment-reply {
	align-items: center;
	display: flex;
}

.create-comment-reply-author {
	color: var(--accent-color);
}

.comment-chat-avatar > a {
	display: block;
}

.comment-chat-right {
	width: 100%;
}

.comment-bottom {
	align-items: center;
	display: flex;
	gap: 12px;
	justify-content: flex-end;
}

.arrow-back {
	align-items: center;
	color: var(--fg-primary);
	cursor: pointer;
	display: flex;
	gap: .75rem;
	letter-spacing: 1px;
}

.arrow-back h2 {
	margin: 0;
}
