.post-container {
	padding: 0;
}

.comments {
	display: flex;
	flex-flow: column;
}

.comment-container {
	border-bottom: 1px solid var(--border);
	display: flex;
	gap: 1rem;
	padding: 1.25rem 0 .75rem;
}

.comment-main {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	width: 100%;
}

.comment-content {
	margin: 0 0 .2rem;
	max-width: 85%;
	word-wrap: break-word;
}

.comment-avatar img {
	border-radius: 100vmax;
	height: 48px;
	object-fit: contain;
	width: 48px;
}

.comment-info {
	align-items: center;
	display: flex;
	gap: 8px;
	height: fit-content;
	justify-content: left;
	text-align: center;
}

.comment-info p {
	margin: 0;
}

.comment-username {
	color: var(--fg-secondary);
}

.comment-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 35rem;
}

.comment-footer > div {
	align-items: center;
	color: var(--fg-secondary);
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.comment-reply {
	display: flex;
	gap: .5rem;
}

.comment-reply p {
	margin: 0;
}

.comment-reply-author {
	color: var(--accent-color);
}

.comment-reply-content {
	max-width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.comment-vote.active {
	color: var(--accent-color);
}

.comment-vote.active > .material-symbols-outlined {
	color: var(--accent-color);
}

.create-comment {
	align-items: center;
	border-bottom: 1px solid var(--border);
	display: flex;
	padding: 1rem 0;
}

.user-avatar > img {
	--size: 3rem;
	border-radius: 100vmax;
	height: var(--size);
	object-fit: contain;
	width: var(--size);
}

.chat-area {
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	color: var(--input-placeholder);
	margin-bottom: 16px;
	min-height: 49px;
	overflow: hidden;
	resize: none;
	transition: all .3s;
	width: 85%;
}

.chat-area:focus {
	color: var(--fg-primary);
	outline: none !important;
}

.chat-btn {
	background: var(--gradient-v);
	background-repeat: no-repeat;
	border: none;
	border-radius: 2rem;
	color: var(--bg-secondary);
	cursor: pointer;
	font-weight: 700;
	padding: .5rem 1rem;
	transition: all .3s ease-in-out;
}
