.tabbed-menu {
	width: 50rem;
}

.content {
	background-color: var(--bg-quinternary);
	border-radius: 0 0 16px 16px;
	padding: 2rem 7rem;
}

.content > .hidden {
	display: none;
}

.friend {
	border-bottom: 1px solid var(--border);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem 0;
}

.friend > .friend-info {
	display: flex;
}

.friend > .friend-info > .friend-avatar {
	align-items: center;
	display: flex;
}

.friend > .friend-info > .friend-avatar > a > img {
	border-radius: 61px;
	height: 48px;
	object-fit: contain;
	width: 48px;
}

.friend > .friend-info > .friend-info-text {
	margin-left: 1rem;
}

.friend > .friend-info > .friend-info-text > .friend-name > a > p {
	color: var(--fg-primary);
}

.friend > .friend-info > .friend-info-text > .friendship-term p {
	color: var(--fg-secondary);
	font-size: 0.85rem;
}

.friend > .friend-actions {
	align-items: center;
	display: flex;
}

.friend-actions > form > button {
	background: transparent;
	border: none;
}

.friend-actions > form > .accept {
	color: var(--fg-primary);
}

.friend-actions > form > .cancel {
	color: var(--input-invalid);
}

.friend > .friend-actions > form > button:hover {
	cursor: pointer;
}
