body {
    background-color: var(--bg-primary);
}

.emotion:checked + span {
    background-color: var(--bg-ternary);
}

.emotions {
    display: flex;
    gap: 5px;
}

.emoji-span:hover {
    cursor: pointer;
    background-color: var(--bg-ternary);
}

span {
    border-radius: 20px;
    transition: all .3s;
    width: fit-content;
    padding: 7px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

.emoji {
    width: 25px;
    height: 25px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 7px 16px;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #3E3F3F;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.homepage-container {
    width: 100%;
    padding: 4px 44px;
}

.chat-area {
    font-family: var(--font);
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
    color: var(--fg-secondary);
}

.post-form {
    width: 100%;
}
