.danger {
	color: var(--input-invalid)
}

button[type='submit'] {
	background-color: var(--input-radio);
	border: 1px solid var(--input-radio);
	border-radius: 10px;
	color: var(--fg-primary);
	cursor: pointer;
	font-size: 1.1rem;
	padding: 8px 16px;
	transition: all 0.2s ease-in-out;
}

button[type='submit']:hover {
	transform: scale(1.05);
}

.options {
	padding: 20px 44px;
	width: 100%;
}

.options-container {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.options-choices-container {
	display: flex;
	flex-direction: column;
	gap: .2rem;
	width: clamp(30rem, 50vw, 47.5rem);
}

.option {
	align-items: center;
	border-radius: var(--input-border-radius);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1rem;
}

.option:hover .arrow, .option.selected .arrow {
	background-position: left bottom 100%;
}

.option h2 {
	font-size: 1.3rem;
	margin: 0;
}

.option .subtitle {
	margin: .75rem 0 0;
}

.option .arrow {
	-webkit-background-clip: text;
	background-image: linear-gradient(to top, var(--fg-primary), var(--fg-primary) 50%, var(--gradient-first) 60%, var(--gradient-second));
	background-position: left bottom;
	background-size: 100% 300%;
	font-size: 3rem;
	transition: all .2s ease-in-out;
	-webkit-text-fill-color: transparent;
	font-variation-settings: 'wght' 700;
}

.options-form {
	width: 40%;
}

.options-group:not(.active) {
	display: none;
}

.font-options {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.font-options > p {
	margin: 0;
}

.font-options > p:last-child {
	font-size: 1.5rem;
}

.font-size {
	align-items: center;
	display: grid;
	justify-items: center;
	width: 80%;
}

.font-size > * {
	grid-column-start: 1;
	grid-row-start: 1;
}

.font-size > input {
	color: var(--input-radio);
	margin: 0;
	width: 90%;
}

.font-size-rounds {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	pointer-events: none;
	width: 82%;
	z-index: 100;
}

.font-size-round {
	--size: .9rem;
	background-color: var(--input-radio);
	border-radius: 50%;
	height: var(--size);
	user-select: none;
	width: var(--size);
}

.color-options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.color-options > label {
	--gradient-angle: 235deg;
	--size: 3rem;
	background: var(--gradient-v);
	border-radius: 50%;
	box-sizing: border-box;
	height: var(--size);
	width: var(--size);
}

.color-options > label:is(:hover), .color-options > input[type='radio']:checked + label {
	border: 2px solid var(--fg-primary);
}

.color-options > .orange {
	background: linear-gradient(var(--gradient-angle), #fd2b55, #f8f004);
}

.color-options > .purple {
	background: linear-gradient(var(--gradient-angle), #2b4dfd, #aa04f8);
}

.color-options > .blue {
	background: linear-gradient(var(--gradient-angle), #6e2bfd, #00ffd1);
}

.color-options > .gray {
	background: linear-gradient(var(--gradient-angle), #e6dff7, #303030);
}

.background-options {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: space-between;
}

.background-option {
	align-items: center;
	border: 1px solid var(--fg-primary);
	border-radius: var(--input-border-radius);
	display: flex;
	height: 5rem;
	justify-content: center;
}

.background-option.light {
	background-color: #ffffff;
	color: #000000;
}

.background-option.gray {
	background-color: #252525;
	color: #ffffff;
}

.background-option.black {
	background-color: #000000;
	color: #ffffff;
}

.background-option > label {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	font-size: 1.2rem;
	gap: .5rem;
	padding: 2vw;
}

div[data-option-number='4'] {
	width: 100%;
}

.dev-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	width: clamp(15rem, 100%, 30rem);
}

.dev {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 1.2rem 0;
	width: 100%;
}

.dev:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

.dev-avatar {
	--size: 3rem;
	border-radius: 50%;
	height: var(--size);
	width: var(--size);
}

.dev-info {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: .5rem;
}

.dev-info > * {
	margin: 0;
}

.avatar-github {
	color: var(--fg-primary);
	font-size: 2rem;
	transition: all .2s ease-in-out;
	justify-self: end;
}

.avatar-github:hover {
	opacity: .75;
}