.post-action-buttons-color {
	color: var(--fg-secondary) !important;
	font-size: 1.4rem !important;
	margin-right: 5px;
	padding: 5px;
	transition: all .3s;
}

.post-comment-btn, .post-reaction-btn, .post-share-btn, .post-menu-btn {
	align-items: center;
	background: transparent;
	border: none;
	color: var(--fg-secondary);
	display: flex;
	font-family: var(--font);
	justify-content: center;
	padding: 0;
}

.post-avatar img {
	border-radius: 61px;
	height: 48px;
	object-fit: contain;
	width: 48px;
}

.post-container {
	align-items: flex-start;
	background: var(--bg-primary);
	border-bottom: 1px solid var(--border);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: 12px;
	height: fit-content;
	padding: 8px 16px;
	width: 50rem;
}

.post-action-buttons, .post-top, .post-info {
	display: flex;
	flex-flow: row;
}

.post-info {
	align-items: center;
	gap: 8px;
	height: fit-content;
	justify-content: left;
	text-align: center;
}

.post-info > a {
	text-decoration: none;
	color: var(--fg-primary);
	display: flex;
	gap: 0.5rem;
}

.post-username, .post-dot-separator, .post-date {
	color: var(--fg-secondary);
}

.post-right-part {
	display: flex;
	flex-flow: column;
	gap: 5px;
	width: 45rem;
}

.post-action-buttons {
	gap: 83px;
	margin-top: 20px;
	width: fit-content;
}

.post-comment-count {
	margin: 0;
	padding: 0;
	transition: all .3s;
}

.post-comment-btn:hover, .post-reaction-btn:hover, .post-share-btn:hover, .post-menu-btn:hover {
	cursor: pointer;
}

.post-comment-btn:hover .post-action-buttons-color, .post-share-btn:hover .post-action-buttons-color, .post-reaction-btn:hover .post-action-buttons-color, .post-menu-btn:hover .post-action-buttons-color, .menu-delete-btn:hover .post-action-buttons-color {
	background-color: var(--accent-transparent);
	color: var(--accent-color);
}

.post-comment-btn .post-action-buttons-color, .post-share-btn .post-action-buttons-color, .post-reaction-btn .post-action-buttons-color, .post-menu-btn .post-action-buttons-color, .menu-delete-btn .post-action-buttons-color {
	border-radius: 9px;
}

.post-comment-btn:hover .post-comment-count {
	color: var(--accent-color);
}

.post-display-name {
	font-weight: 700;
}

.post-emotion {
	padding: 0;
}

.post-emotion .emoji {
	height: 17px;
	width: 17px;
}

.post-content {
	max-width: initial;
	word-wrap: break-word;
}

.post-menu {
	margin-left: auto;
	position: relative;
}

.menu-container {
	align-items: center;
	background-color: var(--bg-quinternary);
	border-radius: 8px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 7px;
	position: absolute;
	width: 123px;
}

.menu-hidden {
	display: none;
}

.menu-delete-symbol {
	color: var(--input-invalid) !important;
	font-size: 1.2rem !important;
	transition: all .3s;
}

.menu-delete-btn {
	align-items: center;
	background: transparent;
	border: none;
	border-radius: 3px;
	color: var(--input-invalid);
	display: flex;
	font-family: var(--font);
	justify-content: space-between;
	padding: 7px;
	transition: all .3s;
	width: 100%;
}

.menu-delete-btn:hover {
	background-color: var(--input-invalid-bg);
	color: var(--fg-primary) !important;
	cursor: pointer;
}

.menu-delete-btn:hover .menu-delete-symbol {
	color: var(--fg-primary) !important;
}