@import 'emoji-selector.css';

.feed-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post-container {
	align-items: flex-start;
	border-bottom: 1px solid var(--border);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	height: fit-content;
	padding: 0 1rem;
	width: 100%;
}

.post-single {
	cursor: default !important;
}

.post-main {
	display: flex;
	flex-flow: column;
	gap: 5px;
	width: 100%;
}

.action-btn {
	align-items: center;
	background: transparent;
	border: none;
	color: var(--fg-secondary);
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 0;
}

.action-btn-color {
	color: var(--fg-secondary);
	font-size: 1.4rem !important;
	margin-right: 5px;
	padding: 5px;
	transition: all .3s;
}

.action-btn:hover .action-btn-color {
	background-color: var(--accent-transparent);
	color: var(--accent-color);
}

.action-btn .action-btn-color {
	border-radius: 9px;
}

.action-btn:hover .action-btn-color:hover {
	color: var(--accent-color);
}

.post-action-buttons, .post-top, .post-info {
	display: flex;
	flex-flow: row;
}

.post-action-buttons {
	gap: 8rem;
	margin: .6rem 0;
	width: fit-content;
}

.post-info {
	align-items: center;
	gap: 8px;
	height: fit-content;
	justify-content: left;
	max-width: 45rem;
	min-width: 45rem;
	text-align: center;
	width: 45rem;
}

.post-user-info {
	color: var(--fg-primary);
	display: flex;
	gap: 0.5rem;
	text-decoration: none;
}

.post-user-info p {
	margin: 0;
}

.post-avatar img {
	border-radius: 61px;
	height: 48px;
	object-fit: contain;
	width: 48px;
}

.post-username, .post-dot-separator, .post-date {
	color: var(--fg-secondary);
}

.post-comment-count {
	transition: all .3s;
}

.post-display-name {
	font-weight: 700;
}

.post-emotion {
	padding: 0;
}

.post-emotion .emoji {
	height: 17px;
	width: 17px;
}

.post-content {
	margin-bottom: 5px;
	max-width: 85%;
	word-wrap: break-word;
}

.post-menu {
	margin-left: auto;
	position: relative;
}

.menu-container {
	align-items: center;
	background-color: var(--bg-quinternary);
	border-radius: 8px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 7px;
	position: absolute;
	width: 123px;
}

.menu-hidden {
	display: none;
}

.menu-delete-symbol {
	color: var(--input-invalid) !important;
	font-size: 1.2rem !important;
	transition: all .3s;
}

.menu-delete-btn {
	align-items: center;
	background: transparent;
	border: none;
	border-radius: 3px;
	color: var(--input-invalid);
	display: flex;
	justify-content: space-between;
	padding: 7px;
	transition: all .3s;
	width: 100%;
}

.menu-delete-btn:hover {
	background-color: var(--input-invalid-bg);
	color: var(--fg-primary) !important;
	cursor: pointer;
}

.menu-delete-btn:hover .menu-delete-symbol {
	color: var(--fg-primary) !important;
}

.post-image {
	align-self: flex-start;
	border-radius: .75rem;
	filter: drop-shadow(0px 0px 5px var(--bg-ternary));
	max-height: 345px;
	max-width: 85%;
	object-fit: contain;
}

.delete-dialog, .chat-dialog {
	background-color: var(--bg-quinternary);
	border: none;
	border-radius: 7px;
	color: var(--fg-primary);
	cursor: default;
	max-width: 18rem;
	padding: 16px;
}

.chat-dialog {
	background-color: var(--bg-primary);
	max-width: 50rem;
}

.delete-dialog::backdrop, .chat-dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-cancel-btn, .modal-delete-btn {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: var(--fg-primary);
	margin: 0 5px;
	padding: 15px;
	transition: all .3s;
}

.modal-delete-btn {
	background-color: var(--input-invalid-bg);
}

.modal-cancel-btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

.modal-delete-btn:hover {
	cursor: pointer;
	filter: opacity(0.6);
}

.post-avatar > a {
	display: block;
}
