.profile-container {
	width: 100%;
}

.profile-info-container {
	border-bottom: 3px solid var(--border);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem 3rem;
}

.profile-info {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.profile-info > h2 {
	font-size: 3rem;
}

.profile-info-avatar > img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.profile-info-middle {
	max-width: 10rem;
}

.profile-info-username > .display-name {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0;
	overflow-wrap: break-word;
}

.profile-info-username > .username {
	color: var(--fg-secondary);
	margin: 0;
	max-width: 9rem;
	overflow-wrap: break-word;
}

.profile-info-inscription-date {
	margin-top: 1rem;
}

.inscription-date {
	color: var(--fg-secondary);
	margin: 0;
}

.profile-info-right {
	display: flex;
	flex-direction: column;
	height: 7rem;
	justify-content: space-between;
	width: 30rem;
}

.profile-info-data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 75%;
}

.profile-info-data-content {
	color: var(--fg-secondary);
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.profile-actions {
	display: flex;
	flex-direction: column;
	gap: 1rem;

}

.profile-actions > form > button {
	background: none;
	border: none;
	color: var(--fg-secondary);
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	width: 25px;
}

.profile-actions > form > .block {
	color: var(--input-invalid);
}

.profile-actions > form > button:hover {
	background-color: var(--bg-secondary);
	border-radius: 5px;
	cursor: pointer;
}

.profile-bottom-container {
	display: flex;
	flex-direction: row;
	padding: 20px 0;
}

.tabbed-menu {
	width: 50rem;
}

.profile-list-container {
	background-color: var(--bg-quinternary);
	border-radius: 16px;
	height: fit-content;

}

.profile-bottom-container > h2 {
	font-size: 1.7rem;
	text-align: center;
	width: 100%;
}

.post-container {
	margin-top: 15px !important;
}

.comment-container {
	padding: 0.95rem 1rem !important;
}

.no-post > h2 {
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
}

.trends-container {
	margin-left: 100px !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
}
