@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    align-items: center;
    background: #252525;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: -20px 0 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

button {
    align-self: center;
    background-color: #FF4B2B;
    border: 1px solid #FF4B2B;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: fit-content;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #1F1F1F;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 50px;
    text-align: center;
}

input {
    background-color: #1f1f1f;
    border: 2px #fff solid;
    border-radius: 8px;
    color: white;
    margin: 8px 0;
    padding: 12px 15px;
    width: 100%;
}

legend {
    color: white;
}

.container {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 100%;
    min-height: 576px;
    overflow: hidden;
    position: relative;
    width: 835px;
}

.form-container {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(135deg, #e0d907, #fd2b55);
    background: linear-gradient(135deg, #e0d907, #fd2b55);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 40px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    margin: 0 5px;
    width: 40px;
}

fieldset {
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: #8c8c8c;
    display: flex;
    font-size: 13px;
    margin-bottom: 8px;
}

fieldset:last-of-type {
    margin-bottom: 30px; !important;
}

input:focus, input:focus-visible {
    border: 2px #fd2b55 solid;
    border-radius: 8px;
    outline: none;
}

.login-password {
    margin: 8px 0 30px;
}

label {
    text-align: left;
    font-size: 13px;
}

#birthday {
    font-size: 13px;
    border: none;
    padding: 0;
}