@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
	--font: 'Montserrat', sans-serif;
	--gradient-colors: var(--gradient-first), var(--gradient-second);
	--gradient-h: -webkit-linear-gradient(var(--gradient-h-rot), var(--gradient-colors));
	--gradient-h-rot: 270deg;
	--gradient-v: -webkit-linear-gradient(var(--gradient-v-rot), var(--gradient-colors));
	--gradient-v-rot: 180deg;
	--input-bg: var(--bg-secondary);
	--input-border-radius: 8px;
	--input-border-width: 2px;
	--input-color: var(--fg-primary);
}

body {
	background-color: var(--bg-primary);
	color: var(--fg-primary);
	display: flex;
	font-family: var(--font);
	margin: 0;
}

a {
	text-decoration: none;
}

main {
	padding: 1rem 2rem;
}

.title {
	margin-bottom: 2rem;
	padding: 0 1rem 1rem;
	position: relative;
}

.title > h1 {
	background: var(--gradient-v);
	-webkit-background-clip: text;
	font-weight: 900;
	margin: 0;
	width: fit-content;
	-webkit-text-fill-color: transparent;
}

.title::after {
	background: var(--gradient-v);
	content: '';
	height: .2rem;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
}

.subtitle {
	color: var(--fg-secondary);
}

fieldset {
	border: var(--input-border-width) solid var(--input-color);
	border-radius: var(--input-border-radius);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: .3rem 0;
	padding: .5rem;
	text-align: start;
}

fieldset > legend {
	font-size: .9rem;
}

fieldset input {
	margin: 0;
	padding: 5px;
}

fieldset > label {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	gap: 5px;
	margin-top: 0;
}

label {
	margin: .5rem 0;
}

input:not([hidden]) {
	-webkit-background-clip: padding-box;
	background-color: var(--input-bg);
	border: var(--input-border-width) solid var(--input-color);
	border-radius: var(--input-border-radius);
	box-sizing: border-box;
	color: var(--fg-primary);
	display: flex;
	font-size: .85rem;
	font-weight: 300;
	margin: 10px 0;
	outline: none;
	padding: 10px 12px;
	position: relative;
	text-align: start;
	transition: none;
}

input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='email']::placeholder {
	color: var(--input-placeholder);
}

input[type='text']:valid:not(:placeholder-shown):not(:focus),
input[type='password']:valid:not(:placeholder-shown):not(:focus),
input[type='email']:valid:not(:placeholder-shown):not(:focus) {
	border-color: var(--input-valid);
}

input[type='text']:invalid:not(:focus):is(:required:not(:placeholder-shown, :optional)),
input[type='password']:invalid:not(:focus):is(:required:not(:placeholder-shown, :optional)),
input[type='email']:invalid:not(:focus):is(:required:not(:placeholder-shown, :optional)) {
	border-color: var(--input-invalid);
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
	background: linear-gradient(var(--input-bg), var(--input-bg)), var(--gradient-v);
	-webkit-background-clip: padding-box, border-box;
	background-origin: border-box;
	border: double 2px transparent;
	transition: border .3s ease-in-out;
}

input[type='text']:focus legend,
input[type='password']:focus legend,
input[type='email']:focus legend {
	background: var(--input-bg);
}

input[type='text']:-webkit-autofill:hover,
input[type='password']:-webkit-autofill:hover,
input[type='email']:-webkit-autofill:hover {
	-webkit-box-shadow: 0 0 0 30px var(--bg-primary) inset;
	-webkit-text-fill-color: var(--fg-primary) !important;
}

.tabbed-menu {
	--border-radius: 16px;
	--height: 3rem;
	align-items: center;
	background-color: var(--bg-secondary);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	display: flex;
	flex-direction: row;
	height: var(--height);
	justify-content: space-around;
	overflow: hidden;
}

.tabbed-menu > .tab {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	height: 100%;
	justify-content: center;
	margin: 0;
	text-align: center;
	transition: all .3s ease-in-out;
}

.tabbed-menu > .tab:not(.selected) + .tab:not(:first-child) > p {
	border-left: 2px solid var(--bg-quaternary);
}

.tabbed-menu > .selected {
	background-color: var(--bg-quaternary);
	font-weight: 700;
}

.tabbed-menu > div:not(.selected):hover {
	cursor: pointer;
	font-weight: 700;
}

.tabbed-menu > div > p {
	--height: 2rem;
	flex: 1;
	height: var(--height);
	line-height: var(--height);
	margin: 0;
	padding: 0;
}
