
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.toolbar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: #1f1f1f;
    z-index: 100;
    border-right: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;

}

.toolbar__nav {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 225px;
    height: 294px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.toolbar_item {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;

    width: 137px;
    height: 48px;

    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.toolbar_item a {
    /* Profil */


    width: 52px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    text-decoration: none;
}

.toolbar_button {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 225px;
    height: 48px;

    /* border-bottom angle */

    background: linear-gradient(261.29deg, #FD2B55 0%, #F8F004 99.69%);
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.toolbar_button a {
    /* Chat */


    width: 42px;
    height: 20px;


    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    /* black txt color */

    color: #252525;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    text-decoration: none;
}