
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.toolbar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: #1f1f1f;
    z-index: 100;
    border-right: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.toolbar_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;


    border-radius: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.toolbar_item a {
    width: 52px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;


    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;

    text-decoration: none;
}

.toolbar_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 225px;
    height: 48px;

    background: linear-gradient(261.29deg, #FD2B55 0%, #F8F004 99.69%);
    border-radius: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.toolbar_button a {
    width: 42px;
    height: 20px;


    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #252525;

    flex: none;
    order: 0;
    flex-grow: 0;

    text-decoration: none;
}


/* Logo */
img {
    width: 20%;
    height: fit-content;
    object-fit: contain;
}


/* Icon CSS */
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48;
     color: #FFFFFF;
     font-size: 2rem;
 }