.right-bar {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 50px;
}


.search-bar-container {
	margin-bottom: 20px;
	padding: 0.5rem;
}

.search-bar-container > form {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

input:not([hidden]) {
	width: 18rem;
}

.trends-container {
	background-color: var(--bg-secondary);
	border-radius: 25px;
	font-size: 0.85em;
	height: fit-content;
	min-width: 15rem;
	padding: 1rem 2rem;
}

.trends-feed > a {
	text-decoration: none;
}

.trends-feed > a > button {
	border: none;
	text-align: left;
	width: 100%;
}

.trends-feed > a > .trend {
	background: none;
	border-bottom: 1px solid var(--border);
	display: flex;
	flex-direction: column;
	padding: 0.75rem 1rem;
}

.trends-feed > a:first-child > .trend {
	border-radius: 15px 15px 0 0;
}

.trends-feed > a > .trend:hover {
	background-color: var(--bg-quinternary);
	cursor: pointer;
}

.trends-feed > a > .hidden {
	display: none;
}

.trends-feed > a > .trend > span {
	margin: 0;
	padding: 0.15rem 0;
}

.trend-rank, .trend-number {
	color: var(--fg-secondary);
}

.trends-feed > a > .trend > .trend-content {
	color: var(--fg-primary);
	font-size: 1.05rem;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 10rem;
}

.no-trends > h2 {
	display: flex;
	font-size: 1.25rem;
	justify-content: center;
}

.show-more button {
	background-color: transparent;
	border: none;
	color: var(--accent-color);
	margin: 0.75rem 0.6rem;
}

.show-more button:hover {
	cursor: pointer;
}
